.about-content
  .about-section
    h2 个人简介
    p 我是一名热爱技术的学生，专注于前端开发和用户体验设计。喜欢探索新技术，追求代码的优雅和效率。
    p 在这个博客中，我会分享我的学习心得、项目经验和技术见解。希望能够与更多志同道合的朋友交流学习。
    
  .about-section
    h2 技能专长
    .skills-list
      span.skill-tag JavaScript
      span.skill-tag HTML5
      span.skill-tag CSS3
      span.skill-tag Vue.js
      span.skill-tag React
      span.skill-tag Node.js
      span.skill-tag WebGL
      span.skill-tag 前端工程化
      span.skill-tag 响应式设计
      span.skill-tag UI/UX设计
      
  .about-section
    h2 联系方式
    .contact-info
      .contact-item
        svg.contact-icon(viewBox="0 0 24 24")
          path(fill="currentColor" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z")
        .contact-text
          | 邮箱：
          a(href="mailto:yechuyao0809@gmail.com") yechuyao0809@gmail.com
          
      .contact-item
        svg.contact-icon(viewBox="0 0 24 24")
          path(fill="currentColor" d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0012 2z")
        .contact-text
          | GitHub：
          a(href="https://github.com/AschVer" target="_blank") AschVer
          
      .contact-item
        svg.contact-icon(viewBox="0 0 24 24")
          path(fill="currentColor" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z")
        .contact-text 位置：中国

.about-nav
  a.back-home(href="/") 返回首页