.blog-list
  .blog-post
    h2: a.post-title(href="#") 欢迎来到我的个人博客
    .post-meta 2025年9月26日
    p.post-excerpt 这是我的第一篇博客文章，在这里我将分享我美好且神秘的精神状态
    
//  .blog-post
    h2: a.post-title(href="#") 前端开发最佳实践
    .post-meta 2024年1月10日
    p.post-excerpt 在这篇文章中，我将分享一些前端开发的最佳实践，包括代码组织、性能优化、用户体验等方面的经验...

.blog-nav
  a.back-home(href="/") 返回首页